.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  z-index: 0;
  transform: translate(0%, 10%);
  margin: 0; /* To remove unwanted margins */
}

.main-title span {
  display: inline-block; /* Ensure they stay together in a single line */
}

<<<<<<< HEAD:design/home1.css
#diecast {
  position: absolute;
  top: -10%;
  left: 10px;
  transform: translate(20%, 10%);
  color: rgb(234, 232, 230);
  z-index: 2;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
=======
.bi-cart {
        width: 24px;
        height: 24px;
        color: #007bff; /* Change the color */
    }

.buttons a {
    background-color: #f39c12;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
>>>>>>> 2053ffdd38d18b0e81d893a32be97a98d2db2b2d:design/design2/home1.css
}

#s {
  position: relative;
  left: 25%;
  color: rgb(158, 98, 34);
  z-index: 1;
  background: none;
  font-size: 6.3rem;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.bg-text {
  position: absolute;
  top: 50%;
  left: 90%;
  font-family: Georgia, serif;
  margin-top: 40px;
  transform: translate(-80%, -50%);
  transition: all 0.4s ease-in-out;
  color: #383736;
  z-index: -1;
  font-weight: 800;
  font-size: 5rem;
  background: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
