.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  z-index: 0;
  transform: translate(0%, 10%);
  margin: 0; /* To remove unwanted margins */
}

.main-title span {
  display: inline-block; /* Ensure they stay together in a single line */
}

#diecast {
  position: absolute;
  top: -10%;
  left: 10px;
  transform: translate(20%, 10%);
  color: rgb(234, 232, 230);
  z-index: 2;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#s {
  position: relative;
  left: 25%;
  color: rgb(158, 98, 34);
  z-index: 1;
  background: none;
  font-size: 6.3rem;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.bg-text {
  position: absolute;
  top: 50%;
  left: 90%;
  font-family: Georgia, serif;
  margin-top: 40px;
  transform: translate(-80%, -50%);
  transition: all 0.4s ease-in-out;
  color: #383736;
  z-index: -1;
  font-weight: 800;
  font-size: 5rem;
  background: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
