
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #9d9d9e;
}
/*******************************REGISTER PAGE*************************/

#header {
position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top:10vh;
  height: auto;
  left: center;
  

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
}
form {
    display: flex;
    padding-top: 7%;
    flex-direction: column;
    align-items: center;
    object-fit: cover;
}
.form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
   
  .twotone{
    /*****polygon****/
transition: all .4s ease-in-out;
            width: 100%;
            height: 100%;
            background-color: #87827d;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
            /*You can generate clip- path : https://www.cssportal.com/css-clip-path-generator/*/
              clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); 
}
#usernameInput  {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    left: center;
    top: 30vh;
    width: 280px;
    height: 32px;
    background: #FFFFFF;
  
    /***/
    border-radius: 10px;
    overflow-x: hidden;
    border: 3px solid #474645;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all .6s ease-in-out;
     /***/
  }
  #firstnameInput {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    left: center;
    top: 35vh;
    width: 280px;
    height: 32px;
    background: #FFFFFF;
    /***/
    border-radius: 10px;
    overflow-x: hidden;
    border: 3px solid #474645;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all .6s ease-in-out;
     /***/
  }
  #lastnameInput {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    left: center;
    top: 40vh;
    width: 280px;
    height: 32px;
    background: #FFFFFF;
    /***/
    border-radius: 10px;
    overflow-x: hidden;
    border: 3px solid #474645;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all .6s ease-in-out;
     /***/
  }
  #emailInput {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    left: center;
    top: 45vh;
    width: 280px;
    height: 32px;
    background: #FFFFFF;
    /***/
    border-radius: 10px;
    overflow-x: hidden;
    border: 3px solid #474645;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all .6s ease-in-out;
     /***/
  }
  #passwordInput {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    left: center;
    top: 50vh;
    width: 280px;
    height: 32px;
    background: #FFFFFF;
    /***/
    border-radius: 10px;
    overflow-x: hidden;
    border: 3px solid #474645;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all .6s ease-in-out;
     /***/
  }
  #confirmPassword {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    left: center;
    top: 55vh;
    width: 280px;
    height: 32px;
    background: #FFFFFF;
    /***/
    border-radius: 10px;
    overflow-x: hidden;
    border: 3px solid #474645;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all .6s ease-in-out;
     /***/
   }
 #createUserButton {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: center;
    top: 65vh;
    width: 200px;
    height: 52px;
  
    border-radius: 10px;
    overflow-x: hidden;
    border: 3px solid #474645;
    align-items: center;
    background: #bb810c;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all .6s ease-in-out;
  }
  
  /****************************Login PAGE*********************/


  
  #signin {
    position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top:25vh;
  height: auto;
  left: center;
  

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  color: #000000;
  }

#username {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    width: 310px;
    height: 34px;
    left: center;
    top: 35vh; 
   
    /***/
    border-radius: 10px;
    overflow-x: hidden;
    border: 3px solid #474645;
    align-items: center;
     /***/
    background: #FFFFFF;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all .6s ease-in-out;
    
  }
  
  #password {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    width: 310px;
    height: 32px;
    left: center;
    top: 40vh; 
    background: #FFFFFF;
     /***/
    border-radius: 10px;
    overflow-x: hidden;
    border: 3px solid #474645;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all .6s ease-in-out;
     /***/
  }
  #noaccount {
    position: fixed;
    display: center;
    text-align: center;
   
    width: 300px;
    top: 50vh;
    left: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
   
   } 
   #loginOptions {

    position: absolute;
    width: 134px;
    height: 26px;
    left: center;
    top: 60vh;
  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    
  }
  #loginbutton {
    position: absolute;
    width: 218px;
    height: 57px;
    left: center;
    top: 52vh;
    
    
    font-family: fantasy;
    font-style:normal;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: #aa6e0f;
    border-radius: 10px;
    overflow-x: hidden;
    margin-top: 20px;
  }

  /***************** HOME PAGE *************************/
/* SEARCH BAR*/
.page {
   
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
#top-bar{
 
  background-color: #FFFFFF;
   margin-top: 5%;
   width: 90%;
   height: 40px;
   border: 2px;
   border-radius: 40px;
   padding: 0px 25px ;
   display: flex;
   justify-content: center;
   align-items: center;
    text-align: center;
 
}
input {
 
  width: 100%;
   height: 100%;
   border: 2px;
   border-radius: 40px;
   padding: 0px 25px ;
   border: none;
   background: none;
   outline: none;
}
i {
  font-size: 1.5rem;
  background: none;
}
.fa-solid:hover {
  color:#bb810c;
  cursor: pointer;
  
}

/******************BUTTON **********************/
.nav {
    position: relative;
    z-index: 10;
    margin-top: 5%;
    right: 2%;
    transform: translateY(-50%);
  
}

.button {
    cursor: pointer;
    width: 55px;
    height: 55px;
    background-color: #797975;
    border-radius: 30%;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    margin: 2rem .7rem 0;
    box-shadow: rgb(56, 49, 49);
    
        
}

#icon {
    font-size: 1.5rem;
        color: rgb(69, 65, 61);
        pointer-events: none;
        background: none;
    }

/* adjust BUtton when hover */
.button:hover {
    background-color: #bb810c;
    color:#794b1e;
    transform: scale(1.1);
}
.button:hover i{
    background-color: #bb810c;
    color:#794b1e;
    transform: scale(1.1);
    }

  /*********** MAIN _TITLE**********/
  .main-title {
    text-align: center;
  }
  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 700;
    z-index: 0;
    

  }
  span {
    color: rgb(63, 62, 61);
    z-index: -1;
    background: none;
    font-size: 3rem;
    left: 25%;
  }
  .bg-text {
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-20%, -60%);
    color:#bb810c;
    z-index: 1;
    font-weight: 700;
    font-size: 2.5rem;
    background: none;
    
  }